<br><br>
<div class="row">

  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">Patient info</div>
          <ul class="list-group clearfix">
            <li class="list-group-item d-flex justify-content-between align-items-center">Firstname: <strong> {{medicalRecord.patient.firstname}} </strong></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Lastname: <strong>{{medicalRecord.patient.lastname}}</strong></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Lbo: <strong>{{medicalRecord.lbo}}</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">Alergic cures</div>
          <ul class="list-group clearfix">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let cure of medicalRecord.cures; let i = index"><strong>{{cure.name}}</strong></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <ng-multiselect-dropdown
                [placeholder]="'Select alergic cures'"
                [data]="items"
                [(ngModel)]="selectedItems"
                [settings]="dropdownSettings"
                [ngModelOptions]="{standalone: true}"
              >
              </ng-multiselect-dropdown><br>
              <button type="submit" (click)="create()"  class="btn btn-primary">Add</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-8">

    <!--Table-->
    <table class="table table-striped">

      <!--Table head-->
      <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Disease</th>
        <th>Symptoms</th>
        <th>Cures</th>
      </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
      <tr *ngFor="let review of medicalRecord.reviews; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{review.date | date:'medium'}}</td>
        <td>{{review.disease.name}}</td>
        <td>
          <select>
            <option *ngFor="let symptom of review.symptoms">{{symptom.name}}</option>
          </select>
        </td>
        <td>
          <select>
            <option *ngFor="let cure of review.cures">{{cure.name}}</option>
          </select>
        </td>
      </tr>
      </tbody>
      <!--Table body-->

    </table>
    <!--Table-->

  </div>

</div>
