<br><br>
<div class="row">

  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">Patient info</div>
          <ul class="list-group clearfix">
            <li class="list-group-item d-flex justify-content-between align-items-center">Firstname: <strong> {{medicalRecord.patient.firstname}} </strong></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Lastname: <strong>{{medicalRecord.patient.lastname}}</strong></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Lbo: <strong>{{medicalRecord.lbo}}</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">Alergic cures</div>
          <ul class="list-group clearfix">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let cure of medicalRecord.cures; let i = index"><strong>{{cure.name}}</strong></li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <ng-multiselect-dropdown
                [placeholder]="'Select alergic cures'"
                [data]="items"
                [(ngModel)]="selectedItems"
                [settings]="dropdownSettings"
                [ngModelOptions]="{standalone: true}"
              >
              </ng-multiselect-dropdown><br>
              <button type="submit" (click)="create()"  class="btn btn-primary">Add</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-8">

    <div class="row">
      <div class="col-sm-12">
    <!--Table-->
        <table class="table table-striped">

          <!--Table head-->
          <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Doctor</th>
            <th>Disease</th>
            <th>Symptoms</th>
            <th>Cures</th>
          </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          <tr *ngFor="let review of medicalRecord.reviews; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td></td>
            <!--<td>{{review.date | date:'medium'}}</td>-->
            <td>{{review.doctor.firstname}} {{review.doctor.lastname}}</td>
            <td>{{review.disease.name}}</td>
            <td>
              <select>
                <option *ngFor="let symptom of review.symptoms">{{symptom.name}}</option>
              </select>
            </td>
            <td>
              <select>
                <option *ngFor="let cure of review.cures">{{cure.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button (click)="addReview()" class="btn btn-primary">Add review</button>
            </td>
          </tr>
          </tbody>
          <!--Table body-->

        </table>
      </div>
  </div>
  <br> <br>
    <div class="row">
      <div class="col-sm-12">
      <div *ngIf="visible">

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" (click)="prvi()" href="#prvo" role="tab" data-toggle="tab">Prvo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="drugi()" href="#drugo" role="tab" data-toggle="tab">Drugo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="treci()" href="#trece" role="tab" data-toggle="tab">Trece</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="cetvrti()" href="#cetvrto" role="tab" data-toggle="tab">Cetvrto</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="prvo">
            <br> <br>
            <ng-multiselect-dropdown
              [placeholder]="'Select symptoms'"
              [data]="items1"
              [(ngModel)]="selectedItems1"
              [settings]="dropdownSettings1"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onItemDeselect($event)"
              [ngModelOptions]="{standalone: true}"
            >
            </ng-multiselect-dropdown>
            <br>
            <button (click)="determineDesease()" class="btn btn-primary">Determine desease</button>

            <div *ngIf="tableVisible">
              <table class="table table-striped">

                <!--Table head-->
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Group</th>
                  <th>Symptoms</th>
                  <th>Check</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let disease of diseases; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{disease.name}}</td>
                  <td>{{disease.diseaseGroup}}</td>
                  <td>
                    <select>
                      <option *ngFor="let symptom of disease.symptoms">{{symptom.name}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="radio" class="form-check-input" (click)="chooseDisease(disease)" name="optionsRadios" id="optionsRadios1" value="option">
                  </td>
                </tr>

              </table>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane fade" id="drugo">
            <br> <br>
            <ng-multiselect-dropdown
              [placeholder]="'Select symptoms'"
              [data]="items1"
              [(ngModel)]="selectedItems3"
              [settings]="dropdownSettings1"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onItemDeselect($event)"
              [ngModelOptions]="{standalone: true}"
            >
            </ng-multiselect-dropdown>
            <br>
            <button (click)="getDiseases()" class="btn btn-primary">Get deseases</button>

            <br>
            <div *ngIf="tableVisible">
              <table class="table table-striped">

                <!--Table head-->
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Group</th>
                  <th>Symptoms</th>
                  <th>Check</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let disease of diseases; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{disease.name}}</td>
                  <td>{{disease.diseaseGroup}}</td>
                  <td>
                    <select>
                      <option *ngFor="let symptom of disease.symptoms">{{symptom.name}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="radio" class="form-check-input" (click)="chooseDisease(disease)" name="optionsRadios" id="optionsRadios" value="option">
                  </td>
                </tr>

              </table>
            </div>


          </div>
          <div role="tabpanel" class="tab-pane fade" id="trece">

            <br> <br>
            <ng-multiselect-dropdown
              [placeholder]="'Select disease'"
              [data]="items3"
              [(ngModel)]="selectedItem"
              [settings]="dropdownSettings2"
              (onSelect)="onDiseaseSelect($event)"
              (onDeSelect)="onItemDeselect($event)"
              [ngModelOptions]="{standalone: true}"
            >
            </ng-multiselect-dropdown>
            <br>
            <!--<button (click)="showSymptoms()" class="btn btn-primary">Show symptoms</button>-->
            <br>
            <div *ngIf="tableVisible">
              <table class="table table-striped">

                <!--Table head-->
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Type</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let symptom of symptomsOfDisease; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{symptom.name}}</td>
                  <td>{{symptom.symptomType}}</td>
                </tr>

              </table>
            </div>


          </div>
          <div role="tabpanel" class="tab-pane fade" id="cetvrto">
            <br> <br>
            <ng-multiselect-dropdown
              [placeholder]="'Select disease'"
              [data]="items3"
              [(ngModel)]="selectedItem"
              [settings]="dropdownSettings2"
              (onSelect)="onDiseaseSelect($event)"
              (onDeSelect)="onItemDeselect($event)"
              [ngModelOptions]="{standalone: true}"
            >
            </ng-multiselect-dropdown>
          </div>

        </div>

            </div>

      </div>
    </div>
    <br> <br>
    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="visible">
          <ng-multiselect-dropdown
            [placeholder]="'Select cures'"
            [data]="items2"
            [(ngModel)]="selectedItems2"
            [settings]="dropdownSettings1"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeselect($event)"
            [ngModelOptions]="{standalone: true}"
          >
          </ng-multiselect-dropdown>
          <br>
          <button (click)="validate()" class="btn btn-primary">Validate cures</button>
          <br> <br>
          <div *ngIf="validateC">
            <div class="card bg-success text-white text-center">
              <div class="card-body">Success validation</div>
            </div>
          </div>
          <div *ngIf="novalidateC">
            <div class="card bg-danger text-white text-center">
              <div class="card-body">Unsuccess validation</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="visible">
      <br> <br>
      <button (click)="saveReview()" class="btn btn-primary btn-block">Save review</button>
    </div>
  </div>

</div>
